.sa-edit-task
  margin-left: 15px
  width: 50%

  .sa-edit-task__profile
    align-items: center
    font-size: .9em
    display: flex

    img
      margin-right: 10px

    form
      margin-left: 5px

  .sa-edit-task__close
    align-self: flex-start
    cursor: pointer
    margin-right: -15px